kind: Secret
apiVersion: v1
metadata:
  name: mysecret
  labels:
    label1: 'value1'
  annotations:
    template.openshift.io/expose-password: '{.data[''database-password'']}'
    template.openshift.io/expose-username: '{.data[''database-user'']}'
stringData:
  password: secret1
  username: luke1